(mode)
parallel-converter
(global box)
512 256 256
(local box)
512 256 256
(restructured box size)
0 0 0
(file name)
/home/hoangdt/Flame_O2/visus.raw
(time steps)
1
(fields)
1
(idx count x:y:z)
1 1 1
(debug rst:hz:agg)
0 0 0
(perform brst:hz:comp:agg:io)
1 1 1 1 1
(compression block size)
4 4 4
(compression type:bits)
1 4
(blocks per file)
256
(samples per block)
15
(aggregation factor)
1
(rank z ordering)
0
(global indexing order)
0
(hz from:to)
0 0
