(mode)
parallel-writer
(global box)
160 160 80
(local box)
40 40 40
(file name)
A6
(time steps)
1
(fields)
1
(idx count x:y:z)
1 1 1
(debug rst:hz:agg)
0 0 0
(perform brst:hz:comp:agg:io)
1 1 0 1 1
(compression block size)
1 1 1
(compression type)
1
(blocks per file)
512
(samples per block)
16
(aggregation factor)
1
(topology aware IO)
0
