(mode)
parallel-writer
(global box)
920 1400 720
(local box)
920 1400 8
(restructured box size)
128 128 128
(file name)
DDDD
(time steps)
1 0
(fields)
1
(idx count x:y:z)
1 1 1
(debug rst:hz:agg)
0 0 0
(perform brst:hz:comp:agg:io)
1 1 0 1 1
(compression block size)
1 1 1
(compression type:bits)
1 64
(blocks per file)
512
(samples per block)
16
(aggregation factor)
1
(rank z ordering)
0
(global indexing order)
0
(hz from:to)
0 0
