(mode)
parallel-writer
(global box)
512 256 256
(local box)
128 128 128
(restructured box size)
0 0 0
(file name)
A10
(time steps)
1
(fields)
4
(idx count x:y:z)
1 1 1
(debug rst:hz:agg)
0 0 0
(perform brst:hz:comp:agg:io)
1 1 0 1 1
(compression block size)
1 1 1
(compression type:bits)
1 64
(blocks per file)
512
(samples per block)
16
(aggregation factor)
1
(rank z ordering)
0
(global indexing order)
0
(hz from:to)
0 0
