(global box)
420 144 144
(local box)
20 72 72
(restructured box size)
0 0 0
(file name)
DDDD2
(time steps)
1
(fields)
21
(patch count)
1
(rst agg)
1 1
(idx count)
1 1 1
(debug rst:hz)
0 0
(dump agg:io)
0 0
(perform rst:brst:hz:comp:agg:io)
1 1 1 1 1 1
(compression type)
0
(compression bit rate)
64
(blocks per file)
512
(bits per block)
16
(aggregator multiplier)
1
(rank z ordering)
0
(hz from:to)
0 0
